<%- include("partials/header") %>

<div class="container" style="margin-top: 2em;">
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-4">Esta es la pagina de campamentos!</h1>
            <p class="lead">Mirá nuestros campamenos elegidos para vos</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Agregar nuevo campamento</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach((camp) => { %>
        <div class="col-md-3 col-sm-6">
            <div class="card" style="margin-bottom: 2em;">
                <img src="<%= camp.image %> " class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-title"><%= camp.name %> </p>
                </div>
            </div>
        </div>
        <%}) %>
    </div>
</div>

<%- include("partials/footer") %>